button:hover {
  // /* Gradient back ground */
  background-image: linear-gradient(to right, var(--lime) 0%, var(--turquoise) 50%, var(--blue) 100%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200% auto;
}

footer {
  font-size: 10px;
  font-weight: normal;
  margin-top: 2rem;
  padding: 1rem;

  div {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
  }
}

.gradient-text {
  color: black;
  background: linear-gradient(to left, var(--blue), var(--turquoise), var(--lime));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  height: 50px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 20px 0 0 70px;
}
