button:hover {
  background-color: var(--primary-theme);
  color: white;
}

button {
  padding: 5px 10px;
  border: 1px solid var(--primary-theme);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-theme);
  font-weight: 700;
}

footer {
  font-weight: normal;
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #878895;
  font-size: 10px;

  #contact-us {
    padding: 0px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    color: var(--lime);
    background: linear-gradient(to right, var(--lime), var(--blue));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200% auto;

    &:hover {
      background-position: right center;
    }

    p {
      border-bottom: 1px solid var(--turquoise);
    }
  }

  .socials {
    font-size: 14px;
    color: var(--lime);
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;

    p {
      border-bottom: 1px solid var(--turquoise);
    }

    a:link,
    a:visited {
      display: flex;
      color: var(--lime);
      background: linear-gradient(to right, var(--lime), var(--blue));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 200% auto;
    }

    span {
      margin-right: 0.2rem;
      margin-left: 3rem;
      font-size: 22px;
    }

    a:hover,
    a:active {
      background-position: right center;
    }
  }

  .links {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    align-items: center;
  }

  p {
    margin: 1rem 0;
    font-weight: 700;
  }

  a:link,
  a:visited {
    color: #878895;
    display: inline-block;
  }

  a:hover,
  a:active {
    color: white;
  }
}

.hidden {
  display: none;
  width: 0px;
}

.gradient-text {
  color: black;
  background: linear-gradient(to left, var(--blue), var(--turquoise), var(--lime));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  height: 50px;
  float: left;
}

.calendar-title-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns:
    [viewport-start] minmax(2em, 1fr)
    [container-start] minmax(0, 42em)
    [container-end] minmax(2em, 1fr)
    [viewport-end];
}

.calendar-title-grid-col {
  grid-column: container;
  align-items: center;
  justify-content: flex-start;
  display: flex;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  h1 {
    margin-left: 10px;
  }
}

.hidden {
  display: none !important;
}

.input-container {
  margin-left: 10px;
}

.input-link {
  font-size: 1.2rem;
  font-weight: 400;
  color: #878895;
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
  margin: 0 1rem;

  .underline {
    border-bottom: 1px solid #878895;
  }

  button,
  input[type="submit"],
  input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}
