/* Alert */
.alert {
  padding: 20px;
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid red;
  border-left: 9px solid red;
  border-right: 9px solid red;
  color: red;
  opacity: 0.83;
  transition: opacity 0.6s;
  margin: 2rem;
  border-radius: 6px;
  font-size: 1.3rem;
  display:flex;
  justify-content: center;

  strong {
    margin-right: 0.5rem;
  }
}

