@import "components/theme";
@import "components/calendar";
@import "components/form";

html {
  font-size: 10px;
  font-family: sans-serif;
}

:root {
  --lime: rgb(1, 241, 142);
  --turquoise: rgb(0, 199, 200);
  --blue: rgb(0, 162, 249);
  --primary-theme: var(--turquoise);
  --secondary-theme: var(--lime);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
